* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-color: white !important ;
  --secondary-color: #555;
  --main-color: rgba(0, 0, 0, 0);
  --secondary-header-bg: linear-gradient(
      rgba(0, 0, 0, 0.95),
      rgba(0, 0, 0, 0.6)
    ),
    url(images/Tshirt-variety-website-banner.jpg);
  --about-h3-color: #795548;
  --form-fields-color: white;
  --submit-hover-color: white;
}

.dark-theme {
  --primary-color: rgba(0, 0, 0, 0.92);
  --secondary-color: white;
  --secondary-header-bg: linear-gradient(
      rgba(0, 0, 0, 0.95),
      rgba(0, 0, 0, 0.9)
    ),
    url(images/Tshirt-variety-website-banner.jpg);

  background-color: rgba(0, 0, 0, 0.95);
  --about-h3-color: white;
  --form-fields-color: #fffffff0;
  --submit-hover-color: white;
}

html {
  /* background-color: var(--primary-color); */
  color: var(--secondary-color);
  font-family: "Lato", Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
}

/* .row {
  padding-left: 4%;
} */

header {
  background-image: var(--secondary-header-bg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  overflow-x: hidden;
}

.nav {
  width: 100%;
  height: 12vh;
}

.nav ul {
  float: right;
  position: relative;
  top: 3.5vh;
  right: 6vw;
}

.nav ul li {
  padding-right: 4vw;
  color: white;
  display: inline-block !important;
  text-decoration: none;
  text-transform: uppercase;
}
.navi {
  position: absolute;
  background: transparent !important;
  top: 0%;
  display: block;
}

a {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent !important;
  background-color: transparent;
  padding-bottom: 5px;
}

a:link {
  color: white;
  border-bottom: 1px solid white;
}

a:hover {
  border-bottom: 1px solid lawngreen !important;
}

#logo {
  color: white;
  display: inline-block;
  position: relative;
  top: 1vh;
  font-size: 130%;
  left: 6vw;
  border: solid 1px white;
  padding: 10px;
}

#logo a:hover {
  border-bottom: 0 !important;
}

#dark-mode {
  float: right;
  width: 30px;
  cursor: pointer;
  left: 38%;
  top: 30%;
  position: relative;
}

#dark-mode-mobile {
  display: none;
}
.main {
  background-color: var(--main-color);
  height: 88vh;
  padding-top: 4%;
  padding-bottom: 4%;
}

header h1 {
  position: relative;
  top: 15%;
  font-size: 200%;
  display: inline-block;
  font-weight: 400;
  color: whitesmoke;
  left: 6%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.orange {
  color: lawngreen;
}

.underline {
  -webkit-text-decoration: underline 3px lawngreen;
  text-decoration: underline 3px lawngreen;
  padding-bottom: 2px;
}

#bottom-border {
  width: 92%;
  height: 20vh;
  position: relative;
  top: 42vh;
  left: 4vw;
  border-bottom: rgba(85, 85, 85, 0.5) 1px solid;
}

#tag-2 {
  top: 60%;
  left: 30%;
}

.main .row h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: var(--secondary-color);
}

.product {
  /* margin: 1% 0% 0% 0.2% !important; */
  margin: 0% 0% 0% 0% !important;
}

.pro-span {
  width: 25% !important;
  margin-top: 0% !important;
  padding-bottom: 0% !important;
}

.bg {
  opacity: 0.6;
  width: 100%;
  height: auto;
  transform: scale(1.08);
  transition: transform 0.5s, opacity 0.5s;
}

.bg:hover {
  transform: scale(1.3);
  opacity: 0.95;
}

.bg-color {
  height: 35vh;
  background-color: black;
  overflow: hidden;
}

.bg img {
  width: 96%;
}

.sticky-nav {
  background-color: black;
  position: fixed;
  z-index: 10;
  height: 10vh;
}

.about {
  line-height: 170%;
  padding: 0% 8% 1%;
  font-weight: 300 !important;
}

.about h3 {
  text-align: justify;
  color: var(--about-h3-color);
  font-size: 129%;
  font-weight: 300;
}

#product {
  padding-top: 2%;
}

/* .row-1 {
  margin-bottom: 0 !important;
} */

.row-2 {
  padding-bottom: 10vh;
}

.nav-icon {
  display: none !important;
}

/* .transparent {
  display: none;
} */

.contact {
  margin: 5%;
  /* padding-top: 5%; */
}

.contact-heading {
  font-size: 225%;
  padding-bottom: 2%;
  text-align: center;
  border-bottom: rgba(85, 85, 85, 0.5) 1px solid;
  color: var(--secondary-color);
}

.contact-para-1 {
  font-size: 130%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
  color: var(--secondary-color);
}
.contact-para-2 {
  text-align: center;
  margin-bottom: 1%;
  color: var(--secondary-color);
}

.form {
  width: 50%;
  display: inline-block;
  margin-top: 2%;
  padding-left: 5%;
}

.field-1,
.field-2,
.field-3 {
  width: 100%;
  height: 10vh;
}

.field-3 {
  height: 15vh;
}
.field {
  margin-left: 15% !important;
  width: 80% !important;
}

.align {
  text-align: center;
}

.submit {
  width: 45%;
  height: 6vh;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--primary-color);
  padding: 10px;
  border-radius: 4px;
  transform: scale(1);
  transition: transform 0.6s, opacity 0.3s;
}

.submit:hover {
  background-color: rgba(49, 49, 49, 0.959);
  cursor: pointer;
  transform: scale(0.94);
  color: var(--submit-hover-color);
}

.contact-us {
  display: inline-block;
  position: absolute;
  /* padding-top: 2%; */
  width: 48%;
  padding-bottom: 6%;
  border-left: rgba(85, 85, 85, 0.5) 1px solid;
}

.contact-us-mobile {
  display: none;
}

.contact-us a {
  color: var(--secondary-color);
}

.contact-us a:hover {
  border-bottom: none !important;
  text-transform: uppercase;
  /* color: #000; */
  font-weight: 400;
}

.phone,
.gmail,
.insta,
.fb {
  margin-left: 20%;
  margin-top: 5vh;
}

.insta {
  margin-left: 20.5%;
}

.icon {
  font-size: 36px !important;
  margin-right: 5%;
  color: var(--secondary-color);
}

#phone {
  vertical-align: middle;
}

#gmail {
  vertical-align: middle;
}
#insta {
  vertical-align: middle;
}

.social {
  border-top: rgba(85, 85, 85, 0.5) 1px solid;
  margin-top: 5%;
  width: 80%;
  margin-left: 10%;
}

.call-us {
  display: none;
}

#number {
  display: none;
}

.js-an-1,
.js-an-2,
.js-an-3,
.js-an-4 {
  opacity: 0;
}

.js-an-1.animate__slideInLeft,
.js-an-3.animate__slideInLeft {
  opacity: 1;
}
.js-an-2.animate__slideInRight,
.js-an-4.animate__slideInRight {
  opacity: 1;
}

@media (max-width: 992px) {
  /* html {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: "Lato", Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
  } */

  /* .bg img {
    width: 0;
  } */

  /* header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.6)),
      url(images/bg-mobile.jpg);
  } */

  .nav {
    width: 100vw;
  }
  .nav-icon {
    float: right;
    color: lawngreen;
    margin-top: 1.5vh;
    margin-right: 2vw;
    font-size: 2.5em !important;
  }

  .nav-icon-0 {
    display: none !important;
  }

  .nav-icon-1 {
    display: block !important;
  }

  .navi {
    background-color: rgba(0, 0, 0, 0.7) !important;
    position: relative !important;
    background: transparent;
    top: 0%;
    display: block;
  }

  /* .nav ul {
    display: none;
  } */

  header h1 {
    font-size: 160%;
    top: 10%;
    font-weight: 300;
  }

  #tag-2 {
    top: 42%;
    left: 46%;
  }

  .about {
    margin-bottom: 10% !important;
  }

  .main {
    height: 115vh;
  }

  .main .row h2 {
    font-size: 140%;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .pro-span {
    width: 50% !important;
  }

  .hide-nav {
    display: none !important;
  }

  .transparent {
    width: 100% !important;
    display: none;
    top: 10%;
    left: 0px;
    right: 0px;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 997;
    will-change: opacity;
  }

  .nav ul {
    float: left;
    /* height: 80vh; */
    width: 50%;
    left: 10%;
    line-height: 250%;
  }

  .tagline {
    display: none;
  }

  .mobile-logo {
    display: none !important;
  }

  .bg-color {
    height: 25vh;
  }
  .nav ul li {
    padding-right: 10vw;
  }

  .contact {
    height: 82vh;
  }

  .contact-para-2 {
    margin-bottom: 6%;
  }

  .form {
    display: block;
    width: 100%;
    padding-left: 0%;
  }

  .field {
    margin-left: 0% !important;
    width: 100% !important;
    padding-bottom: 4%;
  }

  .field-1,
  .field-2 {
    height: 6vh !important;
  }
  .field-1,
  .field-2,
  .field-3 {
    background-color: var(--form-fields-color);
  }

  .contact-us {
    display: none;
  }

  .contact-us-mobile {
    border-top: var(--secondary-color) 1px solid;
    display: block;
    margin-top: 5%;
    text-align: center;
    padding-top: 4%;
    padding-left: 6%;
  }

  .phone,
  .gmail,
  .fb,
  .insta {
    display: contents;
  }

  .icon {
    font-size: 50px !important;
    margin-right: 8%;
  }

  .contact-links {
    color: var(--secondary-color) !important;
  }

  .img-mobile {
    width: 100%;
  }

  .row-2 {
    padding-bottom: 5vh;
  }
  a:hover {
    border-bottom: none !important;
  }

  .insta-img {
    width: 11%;
  }

  .call-us {
    border-top: var(--secondary-color) 1px solid;
    display: none;
    margin-top: 5%;
    padding-top: 4%;
    padding-left: 7.295%;
  }

  #dark-mode-mobile {
    display: block;
    float: right;
    width: 25px;
    cursor: pointer;
    right: 4%;
    top: 28%;
    position: relative;
  }

  #number {
    display: inline-block;
  }

  #bottom-border {
    top: 82vh;
  }
}
